<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Ian Whitlock{% if page.title != "Ian Whitlock"%} - {{ page.title }}{% endif %}</title>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
<!-- Stylesheets -->
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="icon" 
type="image/png" 
href="/css/images/favicon.ico" />		
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script src="/assets/jquery-2.0.3.min.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41367524-1', 'gigawhitlocks.com');
ga('send', 'pageview');
</script>
</head>
<body>
<div class="container" style="padding: 10px;">
	<p style="text-align: center;">     
	</p>
	<div style="margin-top:-10px; ">
		<p style="padding:0; margin:0;">


			<div class="eight columns alpha">
				<a href="{{ site.url }}/">
					<h2>Ian Whitlock</h2><ul>
					</a>
					<li><a href="https://github.com/gigawhitlocks">GitHub</a></li>
					<li><a href="http://www.linkedin.com/in/thewhitlockian">LinkedIn</a></li>
					<li><a href="http://www.google.com/recaptcha/mailhide/d?k=01cxvQUlsBSo836P13rLFMow==&c=cUd_5iO2HybUaHHGeMWcUncPD46_EvkIZSlKwiOBxRY=" target="blank">Email</a></li>
				</ul>

				<small>
					<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
				</small>
				</p>
			</div>
			<div class="eight columns omega" style="text-align: right">
				I'm Ian. This is my Internet presence.<br />
				I'm a programmer from the Great Smoky Mountains living in Austin.<br />
				I'm an <a href="http://en.wikipedia.org/wiki/NCSSM">NCSSM</a> alumni,<br />
				a <a href="http://hackerschool.com">Hacker School</a> never-graduate, <br />
						and a Purdue University dropout.<br /><br />
						I like <a href="/2013/07/30/icmp-utils.html">writing code</a> and riding <a href="http://31.media.tumblr.com/tumblr_m7ya1s8bxl1rcx4eco1_1280.jpg">my bicycle</a>.<br />
						<br />
						I am a sourcerer, a summoner of daemons.<br />
						Python is my native tongue.<br />
				</div>

