<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Ian Whitlock</title>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/skeleton.css">
		<link rel="stylesheet" href="css/layout.css">
		<link rel="icon" 
      type="image/png" 
      href="/css/images/favicon.ico" />		
 	 <!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	 <![endif]-->
	 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41367524-1', 'thewhitlockian.com');
  ga('send', 'pageview');

</script>
  </head>
  <body>
		<div class="container" style="padding: 10px;">
			<div class="six columns alpha" style="background-color:white; text-align: left;">
				<div style="padding: 10px;margin-left: auto; margin-right: auto;">
					<p style="text-align: center;">
						<img src="http://www.gravatar.com/avatar/d2bfdde9e639a033ab48def1eacf35c4?s=600" style="width:100%" />
						</p>
						<div style="margin-top:-10px; ">
						<p style="padding:0; margin:0;">				<h2>Ian Whitlock</h2><ul>

							<li><a href="https://github.com/thewhitlockian">GitHub</a></li>
							<li><a href="http://www.linkedin.com/in/thewhitlockian">LinkedIn</a></li>
							<li><a href="http://www.google.com/recaptcha/mailhide/d?k=01cxvQUlsBSo836P13rLFMow==&c=cUd_5iO2HybUaHHGeMWcUncPD46_EvkIZSlKwiOBxRY=" target="blank">Email</a></li>
						</ul>
						
						<small>
							<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
						</small>
						</p></div>
			</div>
			</div>
			<div class="nine columns omega" id="recent_posts" style="background-color:white;">
				<ul style="padding: 10px">
					{% for post	in site.posts %}
			    <li>
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<h4>{{ post.date | date: "%d %B %Y" }}</h4>
						<p>{{ post.excerpt }}</p>
			    </li>
				  {% endfor %}
				</ul>
	 		</div>

    
  </body>
</html>
