<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>Ian Whitlock - {{ page.title }}</title>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/layout.css">
		
 	 <!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	 <![endif]-->
  </head>
  <body>
		<div class="container">
			<div class="six columns">
				<h1>Ian Whitlock</h1>
					<p>
						<img src="http://www.gravatar.com/avatar/d2bfdde9e639a033ab48def1eacf35c4?s=300" />
						</p>

						<p><ul>
							<li><a href="https://github.com/thewhitlockian">GitHub</a></li>
							<li><a href="http://www.linkedin.com/in/thewhitlockian">LinkedIn</a></li>
							<li><a href="http://www.google.com/recaptcha/mailhide/d?k=01cxvQUlsBSo836P13rLFMow==&c=cUd_5iO2HybUaHHGeMWcUncPD46_EvkIZSlKwiOBxRY=" target="blank">Email</a></li>
						</ul>
						</p>
						<p><small>
							<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
						</small></p>
			</div>

			<div class="ten columns">
				<ul>
					<h3 style="margin-top: 20%">{{ page.title }}</h3><h4>{{ page.date }}</h4>
					<p>
						{{ content }}
					</p>
				</ul>
	 		</div>

    
  </body>
</html>
